<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="com.mountainminds.eclemma.core.SCOPE_IDS">
<listEntry value="=RouteeJavaSDK/src\/main\/java"/>
<listEntry value="=RouteeJavaSDK/src\/test\/java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/RouteeJavaSDK/src/main/java/Test.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="RouteeJavaSDK"/>
</launchConfiguration>
